*{
    box-sizing: border-box;
    margin: 0;
}
.calculator{
    max-width: 400px;
    background-color: rgb(228, 227, 227);
    margin: 100px auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
#result{
    margin-top: 8px;
    width: 100%;
    padding: 13px;
    border: none;
    border: solid 1px #ccc;
     border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
    grid-gap: 10px;
}
button{
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    font-size: 24px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
}
button:hover{
    background-color: lightgray;
}
.clear{
    background-color: rgb(248, 50, 50);
}
.operator{
    background-color: rgb(55, 55, 248);
}
.number, .decimal{
    color: black;
}
.equal{
    background-color: rgb(3, 174, 3);
    grid-row: span 3;
}